
<app-filters-bar [filters]="filters" [sortingType]="sortingType"  [perPage]="perPage">
</app-filters-bar>



<ng-container>
  <ngx-masonry #masonry [updateLayout]="updateMasonryLayout" [options]="{ transitionDuration: '0.00000000001' }">
    <ng-container *ngFor="let font of fonts; let i = index">
    
      <ngxMasonryItem class="card masonry-item" *ngIf="i< perPage" #mor>       
        <app-font-card (selectToPreviewEE)="selectToPreview()" [font]="font" [i]="i" (layout)="adjustLayout()"
          class="card-body"></app-font-card>
      </ngxMasonryItem>
    </ng-container>
  </ngx-masonry>
</ng-container>
{{fonts.length === 0 ? 'Nothing was found' : '' }}
<button type="button" class="btn btn-primary btn-block btn-lg" (click)="loadMoreFontsFonts()" *ngIf="availableFonts.length >12 ">Load More Fonts</button>