.styles-filter {
  padding-bottom: 25px;
  &-checkbox {
    margin-right: 15px;
  }
  &-value {
    font-size: 0.8rem;
    transform: translateY(-4px);
    display: inline-block;
    margin-left: 10px;
  }
}

.fake-range {
  &-input {
    background-color: #f1f3f4;
    height: 7.9px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-circle {
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background-color: #ddd;
    display: block;
  }
}

.custom-range {
  transform: translateY(-3px);
}
