
.btn-remove {
    padding: .2rem .2rem;
    font-size: .65rem;
    line-height: 0.5;
    border-radius: .2rem;
    font-weight: bold;
    margin-top: -5px;
}
.buttons-group{
    margin-top:25px;
}
.selected-info{
    margin-bottom: 0
}