.generated {
  &-link {
    background-color: #f5f5f5;
    padding: 25px;
    border: 1px dashed #ddd;
    display: block;
  }
  &-content {
    padding-bottom: 25px;
  }
  &-fonts {
    padding-top: 25px;
  }
}
.embended-fonts{
    margin-top: 25px;
}