<p class="filters-bar ">
  <span class="bar-item">
    Viewing {{uiState.fonstPerPage}} fonts.
  </span>
  <span class="bar-item">
    Category:
    <span class="font-weight-bold text-uppercase">{{uiState.selectedCategory}}</span>.
  </span>
  <span class="bar-item">
    Sorting:
    <span class="font-weight-bold text-uppercase">{{sortingType}}</span>.
  </span>
  <span class="bar-item">
    Language:
    <span class="font-weight-bold text-uppercase">{{uiState.selectedLanguage === 'latin-ext' ? "latin-ext (polish)": uiState.selectedLanguage}}</span>.

  </span>
</p>