<p class="filters-bar ">
  <span class="bar-item">
    Viewing {{perpage}} fonts.
  </span>
  <span class="bar-item">
    Category:
    <span class="font-weight-bold text-uppercase">{{filters.category}}</span>.
  </span>
  <span class="bar-item">
    Sorting:
    <span class="font-weight-bold text-uppercase">{{sortingType}}</span>.
  </span>
  <span class="bar-item">
    Language:
    <span class="font-weight-bold text-uppercase">{{filters.language === 'latin-ext' ? "latin-ext (polish)": filters.language}}</span>.

  </span>
</p>