
.input-group {
  &-text {
    border: none;
    font-size: 10px !important;
    background-color: transparent;
    padding-left: 0 !important;

  }
  .custom-select {
    border: none;
    border-radius: 0.25rem;
    font-size: 0.75rem !important;
    height: 25px;
    padding: 0 25px 0 5px;
  
  }
}
